#contact-website,
#contact-phone {
	font-size: 3em;
	text-align: center;
}

#contact-social {
	display: flex;
	justify-content: center;
}

#contact-social a {
	margin: 10% 0;
	text-decoration: none;
	box-sizing: border-box;
	font-size: 2em;
	color: #bababa;
	padding: 0 2%;
	margin-bottom: 10%;
}

@media screen and (max-width: 1024px) {
	#contact-website,
	#contact-phone {
		font-size: 1.5em;
	}

	#contact-social {
		flex-wrap: wrap;
	}

	#contact-social a {
		font-size: 1em;
		margin-bottom: 12%;
	}
}
