/*
breakpoints: 
xs: 0px
sm: 640px
md: 768px
lg: 1024px
xl: 1280px
2xl: 1536px
*/

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: "Inter";
}

h2 {
	font-size: 7em;
	text-align: center;
	margin-bottom: 2%;
}

h1 {
	font-size: 8em;
	margin: 5% 15%;
	text-align: center;
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2em;
	}
}

@keyframes hover-image {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.05);
	}
}

img:hover {
	animation-name: hover-image;
	animation-duration: 1s;
	animation-fill-mode: backwards;
}
